/* background color page all */
.color-background {
    background-color: rgb(27, 24, 24);
}
/*----------------------*/


/* Botão rosa sobre "Curiosidades sobre" */
.curious {
    display: flex;
    justify-content: flex-end;
}

.blog-tag {
    transition: .2s all;
    text-decoration: none;

    background-color: rgb(148, 103, 19);
    font-weight: 900;
    
    line-height: 1.5;
    display: inline-block;
    
    padding: 3px 5px 1px 7px;
    letter-spacing: 2px;
    border: none;
    border-radius: 2px;

    font-size: 11px;
    margin: 6px 2px 0 0;

    color: rgb(255,255,255);
}
/*---------------------*/


/* Cabeçalho - titulo e imagem de fundo */

.title-main {
    text-align: center;
}

h1 {
    font-family: Courier, monospace;
    font-size: 55px;
    font-weight: bold;
    color: rgb(255, 0, 0);
}
    

.image-background {
    background-image: url(images/image8.jpg);
    border-bottom-right-radius: 363px;
    border-top-left-radius: 250px;
    height: 520px;
    opacity: 0.9;
    background-color: #0000008f;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto;

    display: flex;
    align-items: center;
}
/*---------------------*/


/* Textos de paragrafos - fontes e cores */

h2 {
    font-family: monospace;
    font-size: 25px;
    font-weight: bold;
    color: rgb(37, 216, 37);
}

h3 {
    font-family: monospace;
    font-size: 20px;
    color: #cc1010;

}

.textos {
    padding: 50px 90px;
    font-family: monospace;
    font-size: 17px;
    font-weight: lighter;
    color: white;
    display: block;

}

p:not(.copyright) {
    border-bottom: 2px solid red;
    padding: 10px;
    border-bottom-left-radius: 25px;
}
/*----------------------*/

/**/

.copyright{
    text-align: center;
	color: #cc1048;
	font-size: 15px;
	margin: 20px 0 0;
}