
/* Botão rosa sobre "Curiosidades sobre" */
.curious {
    display: flex;
    justify-content: flex-end;
}

.blog-tag {
    transition: .2s all;
    text-decoration: none;

    background-color: rgb(232, 170, 56);
    font-weight: 900;
    
    line-height: 1.5;
    display: inline-block;
    
    padding: 3px 5px 1px 7px;
    letter-spacing: 2px;
    border: none;
    border-radius: 2px;

    font-size: 11px;
    margin: 6px 2px 0 0;

    color: rgb(255,255,255);
}
/*---------------------*/


/* Cabeçalho - titulo e imagem de fundo */
.title-main {
    text-align: center;
}

.image-background {
    background-image: url(images/image8.jpg);
    border-bottom-right-radius: 363px;
    border-top-left-radius: 250px;
    height: 520px;
    opacity: 0.9;
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto;
}
/*---------------------*/

.textos {
    border: 2px solid red;
    padding: 10px;
    border-bottom-left-radius: 25px;
}


/**/
footer {
    padding: 100px 0;
}

.foo {
	background: url(images/image1.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    background-color: #cccccc;
}

.copyright{
    text-align: center;
	color: #cc1010;
	font-size: 15px;
	margin: 20px 0 0;
}